:root {
  --primary: #dc82a0;
  --secondary: #9f76eb;
  --light: #EEE;
  --light-alt: #61759b;
  --dark: #131A26;
  --dark-alt: #202B3E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--light);
  color: var(--dark-alt);
}

.app {
  padding: 32px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
  color: var(--primary);

}

h2 {
  font-size: 20px;
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 32px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.btn {
  color: var(--light);
  background-color: var(--secondary);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.new-note-btn {
  margin-bottom: 10px;
}

.btn:hover {
  opacity: 0.8;
}

.lists-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lists-container {
  display: flex;
  flex-direction: column;
  color: var(--light);
  
}

.list {
  background-color: var(--primary);
  padding: 30px;
  margin: 20px 0px;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.list:hover {
  opacity: 0.8;
}

.list-header {
 display: flex;
 justify-content: space-between;
}

.list-action-btns {
  display: flex;
  justify-content: space-between;
}
.list-edit-btn {
  color: var(--light);
  font-size: 20px;
  margin-right: 10px;
}
.list-delete-btn {
  color: var(--light);
  font-size: 20px;
}

.list-delete-btn:hover,
.list-edit-btn:hover {
  font-size: 25px;
  transition: 0.5s;
}

.list-line {
  border-top: 0.5px solid var(--light);
  width: 20%;
  margin-bottom: 10px;

}

.list-date {
  display: flex;
  justify-content: flex-end;
}